main {
	height:100%;
	width:100%
}

nav {
	background-color:#223a59;
	color:#fff;
	padding:1px;
	border-radius:.5em;
	margin-bottom:.5em;
	font-size:30px
}

aside {
	float:left;
	height:100%;
	width:12%;
	background-color:#396d8c;
	text-align:left;
	border-radius:1.5em
}

/*ASIDE e highlight na 'li'*/
aside ul li {
	border:2px solid #396d8c;
	list-style:none;
	margin-top:.2em;
	width:120px;
	text-align:center;
	border-radius:.4em;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#f4fffc;
	color:#0d1f3d
}

aside ul li:hover {
	background-color:#0d1f3d;
	border:2px solid #f4fffc;
	font-weight:800;
	color:#f4fffc
}

/*NAV e highlight na 'nav'*/
nav ul li {
	display:inline;
	border:2px solid #396d8c;
	list-style:none;
	margin-top:.2em;
	width:120px;
	text-align:center;
	border-radius:.4em;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#f4fffc;
	color:#0d1f3d;
	border:2px solid #223A59;
	padding-right:20px;
	padding-left:20px
}

nav ul li:hover {
	background-color:#0d1f3d;
	border:2px solid;
/*font-weight:800;*/
	color:#f4fffc
}

nav ul {
	padding-bottom:10px;
	padding-top:10px
}

/*acaba aqui*/
aside ul {
	padding-bottom:30px
}

section {
	margin-left:12.5%;
	padding:.5em 1em 5em 2em;
	background-color:#F4FFFC;
	border-radius:1.5em;
	color:#0d1f3d
}

.SideTitle {
	text-align:center;
	color:#fff
}

h2.SideTitle {
	color:#0d1f3d
}

body {
	font-family:Verdana;
	background-color:#0d1f3d;
	color:#f2f2f2
}

code {
	font-weight:700
}

ul {
	margin:auto;
	padding-top:5px;
	padding-bottom:5px
}