main {
    height: 100%;
    width: 100%;
}

nav > ul >li {
    display: inline;
    list-style: none;
    margin-left: 1em;
    padding-right: 1em;
    border-right: 2px solid black;
}

aside {
    float:left;
    height: 100%;
    width: 30%;
    background-color: gray;
    text-align: left;
}

aside > ul > li {
    list-style: none;
    margin-top: 1em;
    
}

section{
    margin-left: 30%;
    padding-left: 1em;  
}
.SideTitle{
    text-align: center;
}

body{

    font-family: Verdana;
    
}

code {
    font-weight: bold;
}